<div class="menu">
  <h3>Tienda online</h3>
  <h5>Nombre de la plataforma:</h5> <p>{{data.variables.platform}}</p>
  <h5>Versión de Node.js:</h5> <p>{{data.variables.node}}</p>
  <h5>Memoria total reservada:</h5> <p>{{data.variables.memory}}</p>
  <h5>Path de ejecución:</h5> <p>{{data.variables.path}}</p>
  <h5>Process id:</h5> <p>{{data.variables.id}}</p>
  <h5>Carpeta del proyecto:</h5> <p>{{data.variables.folder}}</p>
  <h5>Procesadores:</h5> <p>{{data.variables.processors}}</p>
</div>